{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Website Title -->
    <title>IntelliRate</title>

    <!-- Styles -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700&display=swap&subset=latin-ext"
        rel="stylesheet">
    <link href="/static/tedu_note/css/bootstrap.css" rel="stylesheet">
    <link href="/static/tedu_note/css/fontawesome-all.css" rel="stylesheet">
    <link href="/static/tedu_note/css/swiper.css" rel="stylesheet">
    <link href="/static/tedu_note/css/magnific-popup.css" rel="stylesheet">
    <link href="/static/tedu_note/css/styles.css" rel="stylesheet">

    <!-- Favicon  -->
    <link rel="icon" href="{% static 'tedu_note/images/favicon.png' %}">
</head>

<body data-spy="scroll" data-target=".fixed-top">

    <!-- Preloader -->
    <div class="spinner-wrapper">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>
    <!-- end of preloader -->


    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
        <div class="container">

            <!-- Text Logo - Use this if you don't have a graphic logo -->
            <!-- <a class="navbar-brand logo-text page-scroll" href="index.html">Tivo</a> -->

            <!-- Image Logo -->
            <a class="navbar-brand logo-image">
                <h1 class="text-white">IntelliRate</h1>
            </a>

            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link page-scroll" href="#header">HOME <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link page-scroll" href="#overview">OVERVIEW</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link page-scroll" href="#details">DETAILS</a>
                    </li>
                </ul>
                <!-- Dropdown Menu -->

                <span class="nav-item">
                    {% if request.session.username %}
                    <li class="nav-item dropdown">
                        <a class="btn-outline-sm" href="user/log">{{request.session.username}}</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="cop/info"><span
                                    class="item-text">RATING</span></a>
                            <div class="dropdown-items-divide-hr"></div>
                            <a class="dropdown-item" href="cop/info"><span
                                    class="item-text">RATING HISTORY</span></a>
                            <div class="dropdown-items-divide-hr"></div>
                            <a class="dropdown-item" href="cop/info"><span
                                    class="item-text">COMPANY SEARCH</span></a>
                            <div class="dropdown-items-divide-hr"></div>
                            <a class="dropdown-item" href="user/logout"><span
                                    class="item-text">LOG OUT</span></a>
                        </div>
                    </li>
                    {% else %}
                    <a class="btn-outline-sm" href="user/log">LOG IN</a>
                    {% endif %}
                </span>


                <!-- end of dropdown menu -->
            </div>
        </div> <!-- end of container -->
    </nav> <!-- end of navbar -->
    <!-- end of navigation -->


    <!-- Header -->
    <header id="header" class="header">
        <div class="header-content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-xl-5">
                        <div class="text-container">
                            {% if request.session.username %}
                            <h1>Welcome {{request.session.username}}</h1>
                            <p class="p-large">Create credit rating for your company now!</p>
                            <a class="btn-solid-lg page-scroll" href="cop/info">CREATE RATING</a>
                            {% else %}
                            <h1>Welcome to the future of credit rating</h1>
                            <p class="p-large">IntelliRate can create the credit rating of your company in seconds with
                                only a few financial indexes</p>
                            <a class="btn-solid-lg page-scroll" href="user/reg">SIGN UP</a>
                            {% endif %}
                        </div> <!-- end of text-container -->
                    </div> <!-- end of col -->
                    <div class="col-lg-6 col-xl-7">
                        <div class="image-container">
                            <div class="img-wrapper">
                                <img class="img-fluid" src="{% static 'tedu_note/images/header-software-app.png' %}"
                                    alt="alternative">
                            </div> <!-- end of img-wrapper -->
                        </div> <!-- end of image-container -->
                    </div> <!-- end of col -->
                </div> <!-- end of row -->
            </div> <!-- end of container -->
        </div> <!-- end of header-content -->
    </header> <!-- end of header -->
    <svg class="header-frame" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none"
        viewBox="0 0 1920 310">
        <defs>
            <style>
                .cls-1 {
                    fill: #5f4def;
                }
            </style>
        </defs>
        <title>header-frame</title>
        <path class="cls-1"
            d="M0,283.054c22.75,12.98,53.1,15.2,70.635,14.808,92.115-2.077,238.3-79.9,354.895-79.938,59.97-.019,106.17,18.059,141.58,34,47.778,21.511,47.778,21.511,90,38.938,28.418,11.731,85.344,26.169,152.992,17.971,68.127-8.255,115.933-34.963,166.492-67.393,37.467-24.032,148.6-112.008,171.753-127.963,27.951-19.26,87.771-81.155,180.71-89.341,72.016-6.343,105.479,12.388,157.434,35.467,69.73,30.976,168.93,92.28,256.514,89.405,100.992-3.315,140.276-41.7,177-64.9V0.24H0V283.054Z" />
    </svg>
    <!-- end of header -->

    <!-- Description -->
    <div class="cards-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="above-heading">FEATURES</div>
                    <h2 class="h2-heading">Credit Rating System Empowered By Artificial Intelligence</h2>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
            <div class="row">
                <div class="col-lg-12">

                    <!-- Card -->
                    <div class="card">
                        <div class="card-image">
                            <img class="img-fluid" src="{% static 'tedu_note/images/description-1.png' %}"
                                alt="alternative">
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">Create Credit Rating</h4>
                            <p>It's very easy to start creating credit ratings for your company. Simply type in a few
                                financial indexes and receive it within seconds.</p>
                        </div>
                    </div>
                    <!-- end of card -->

                    <!-- Card -->
                    <div class="card">
                        <div class="card-image">
                            <img class="img-fluid" src="{% static 'tedu_note/images/description-2.png' %}"
                                alt="alternative">
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">Credit Rating History</h4>
                            <p>All of your ratings will be stored so that you can keep track of the financial status
                                changes of your company over time.</p>
                        </div>
                    </div>
                    <!-- end of card -->

                    <!-- Card -->
                    <div class="card">
                        <div class="card-image">
                            <img class="img-fluid" src="{% static 'tedu_note/images/description-3.png' %}"
                                alt="alternative">
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">Market Research</h4>
                            <p>Learn more about other companies' background, credit rating history and our analysis
                                about their financial situation.</p>
                        </div>
                    </div>
                    <!-- end of card -->

                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of cards-1 -->
    <!-- end of description -->


    <!-- Features -->
    <div id="overview" class="tabs">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="above-heading">OVERVIEW</div>
                    <h2 class="h2-heading">Next Level Credit Rating Platform</h2>
                    <p class="p-heading">IntelliRate creates a smooth and responsive credit rating experience for not
                        only SMEs but also industry-leading enterprises.</p>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
            <div class="row">
                <div class="col-lg-12">

                    <!-- Tabs Links -->
                    <ul class="nav nav-tabs" id="argoTabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="nav-tab-1" data-toggle="tab" href="#tab-1" role="tab"
                                aria-controls="tab-1" aria-selected="true"><i class="fas fa-list"></i>Credit Rating</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="nav-tab-2" data-toggle="tab" href="#tab-2" role="tab"
                                aria-controls="tab-2" aria-selected="false"><i
                                    class="fas fa-envelope-open-text"></i>Archive</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="nav-tab-3" data-toggle="tab" href="#tab-3" role="tab"
                                aria-controls="tab-3" aria-selected="false"><i
                                    class="fas fa-chart-bar"></i>Analytics</a>
                        </li>
                    </ul>
                    <!-- end of tabs links -->

                    <!-- Tabs Content -->
                    <div class="tab-content" id="argoTabsContent">

                        <!-- Tab -->
                        <div class="tab-pane fade show active" id="tab-1" role="tabpanel" aria-labelledby="tab-1">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="image-container">
                                        <img class="img-fluid" src="{% static 'tedu_note/images/features-1.png' %}"
                                            alt="alternative">
                                    </div> <!-- end of image-container -->
                                </div> <!-- end of col -->
                                <div class="col-lg-6">
                                    <div class="text-container">
                                        <h3>Credit Rating Is Easier Than Ever</h3>
                                        <p>It's very easy to start creating credit ratings for your company. Simply sign
                                            up to our platform, log in and start rating your company in the rating
                                            section.</p>
                                        <ul class="list-unstyled li-space-lg">
                                            <li class="media">
                                                <i class="fas fa-square"></i>
                                                <div class="media-body">Award-winning neural network providing the most
                                                    reliable ratings.</div>
                                            </li>
                                            <li class="media">
                                                <i class="fas fa-square"></i>
                                                <div class="media-body">Know your company's financial status within
                                                    seconds.</div>
                                            </li>
                                            <li class="media">
                                                <i class="fas fa-square"></i>
                                                <div class="media-body">Parntered with multiple banking and funding
                                                    services provider, our result will offer great help in your
                                                    financing applications.</div>
                                            </li>
                                        </ul>
                                        {% if request.session.username %}
                                        <a class="btn-solid-reg" href="cop/info">CREATE RATING</a>
                                        {% else %}
                                        <a class="btn-solid-reg page-scroll" href="#header">SIGN UP</a>
                                        {% endif %}
                                    </div> <!-- end of text-container -->
                                </div> <!-- end of col -->
                            </div> <!-- end of row -->
                        </div> <!-- end of tab-pane -->
                        <!-- end of tab -->

                        <!-- Tab -->
                        <div class="tab-pane fade" id="tab-2" role="tabpanel" aria-labelledby="tab-2">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="image-container">
                                        <img class="img-fluid" src="{% static 'tedu_note/images/features-2.png' %}"
                                            alt="alternative">
                                    </div> <!-- end of image-container -->
                                </div> <!-- end of col -->
                                <div class="col-lg-6">
                                    <div class="text-container">
                                        <h3>Keeping Track of Your Progress</h3>
                                        <p>Credit ratings are one of the best criterias of rating a company. Changes of
                                            your credit rating can represent the progress of your company in a great
                                            way.</p>
                                        <ul class="list-unstyled li-space-lg">
                                            <li class="media">
                                                <i class="fas fa-square"></i>
                                                <div class="media-body">Detailed record including ratings received, date
                                                    and indexes.</div>
                                            </li>
                                            <li class="media">
                                                <i class="fas fa-square"></i>
                                                <div class="media-body">Changes of these indexes can show the main
                                                    source of your growth.</div>
                                            </li>
                                            <li class="media">
                                                <i class="fas fa-square"></i>
                                                <div class="media-body">Evaluate rating results and optimize future
                                                    actions</div>
                                            </li>
                                        </ul>
                                        {% if request.session.username %}
                                        <a class="btn-solid-reg" href="cop/info">RATING
                                            HISTORY</a>
                                        {% else %}
                                        {% endif %}
                                    </div> <!-- end of text-container -->
                                </div> <!-- end of col -->
                            </div> <!-- end of row -->
                        </div> <!-- end of tab-pane -->
                        <!-- end of tab -->

                        <!-- Tab -->
                        <div class="tab-pane fade" id="tab-3" role="tabpanel" aria-labelledby="tab-3">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="image-container">
                                        <img class="img-fluid" src="{% static 'tedu_note/images/features-3.png' %}"
                                            alt="alternative">
                                    </div> <!-- end of image-container -->
                                </div> <!-- end of col -->
                                <div class="col-lg-6">
                                    <div class="text-container">
                                        <h3>Learn About Your Market</h3>
                                        <p>Learn more about your market by searching about your competitors.</p>
                                        <ul class="list-unstyled li-space-lg">
                                            <li class="media">
                                                <i class="fas fa-square"></i>
                                                <div class="media-body">Proprietary database integrating info from
                                                    Bloomberg and Wind.</div>
                                            </li>
                                            <li class="media">
                                                <i class="fas fa-square"></i>
                                                <div class="media-body">Learn about their background and credit rating
                                                    history.</div>
                                            </li>
                                            <li class="media">
                                                <i class="fas fa-square"></i>
                                                <div class="media-body">Our integrated analytical tools can give you
                                                    insights about their financial status and inspires you to achieve
                                                    your goal. </div>
                                            </li>
                                        </ul>
                                        {% if request.session.username %}
                                        <a class="btn-solid-reg" href="cop/info">COMPANY
                                            SEARCH</a>
                                        {% else %}
                                        {% endif %}
                                    </div> <!-- end of text-container -->
                                </div> <!-- end of col -->
                            </div> <!-- end of row -->
                        </div> <!-- end of tab-pane -->
                        <!-- end of tab -->

                    </div> <!-- end of tab content -->
                    <!-- end of tabs content -->

                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of tabs -->
    <!-- end of features -->

    <!-- Details -->
    <div id="details" class="basic-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="text-container">
                        <h2>Now Is The Time To Create Your Credit Rating Journey</h2>
                        <p>Credit ratings are one of the most critical judgmental criteria during loan application and
                            financing. As well as a concentrated representation of a company's current status.</p>
                        <ul class="list-unstyled li-space-lg">
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body">Understand your shortcomings and improve your business plan.
                                </div>
                            </li>
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body">Create your company profile with IntelliRate's efficient
                                    technology.</div>
                            </li>
                        </ul>
                        {% if request.session.username %}
                        <a class="btn-solid-reg" href="cop/info">CREATE RATING</a>
                        {% else %}
                        <a class="btn-solid-reg page-scroll" href="#header">SIGN UP</a>
                        {% endif %}
                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
                <div class="col-lg-6">
                    <div class="image-container">
                        <img class="img-fluid" src="{% static 'tedu_note/images/details.png' %}" alt="alternative">
                    </div> <!-- end of image-container -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of basic-1 -->
    <!-- end of details -->

    <!-- Newsletter -->
    <div class="form">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="icon-container">
                        <span class="fa-stack">
                            <a href="#your-link">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-facebook-f fa-stack-1x"></i>
                            </a>
                        </span>
                        <span class="fa-stack">
                            <a href="#your-link">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-twitter fa-stack-1x"></i>
                            </a>
                        </span>
                        <span class="fa-stack">
                            <a href="#your-link">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-instagram fa-stack-1x"></i>
                            </a>
                        </span>
                        <span class="fa-stack">
                            <a href="#your-link">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-linkedin-in fa-stack-1x"></i>
                            </a>
                        </span>
                    </div> <!-- end of col -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of form -->
    <!-- end of newsletter -->


    <!-- Footer -->
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="footer-col first">
                        <h4>About IntelliRate</h4>
                        <p class="p-small">We're passionate about designing and developing one of the best credit rating
                            platform in the market</p>
                    </div>
                </div> <!-- end of col -->
                <div class="col-md-4">
                    <div class="footer-col middle">
                        <h4>About us</h4>
                        <ul class="list-unstyled li-space-lg p-small">
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body">CUHK FTEC 5510 Class Project</a></div>
                            </li>
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body">Looking forward to take our project into the real world</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body">Read our <a class="white" href="#your-link">Terms &
                                        Conditions</a>, <a class="white" href="#your-link">Privacy Policy</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div> <!-- end of col -->
                <div class="col-md-4">
                    <div class="footer-col last">
                        <h4>Contact</h4>
                        <ul class="list-unstyled li-space-lg p-small">
                            <li class="media">
                                <i class="fas fa-map-marker-alt"></i>
                                <div class="media-body">The Chinese University of Hong Kong, Central Ave, Shatin, N.T.
                                    Hong Kong</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-envelope"></i>
                                <div class="media-body"><a class="white"
                                        href="#your-link">contact@intellirate.com</a><br></div>
                                <i class="fas fa-globe"></i>
                                <div class="media-body"><a class="white" href="#your-link">www.intellirate.com</a></div>
                            </li>
                        </ul>
                    </div>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of footer -->
    <!-- end of footer -->

    <!-- Scripts -->
    <script src="{% static 'tedu_note/js/jquery.min.js' %}"></script> <!-- jQuery for Bootstrap's JavaScript plugins -->
    <script src="{% static 'tedu_note/js/popper.min.js' %}"></script> <!-- Popper tooltip library for Bootstrap -->
    <script src="{% static 'tedu_note/js/bootstrap.min.js' %}"></script> <!-- Bootstrap framework -->
    <script src="{% static 'tedu_note/js/jquery.easing.min.js' %}"></script>
    <!-- jQuery Easing for smooth scrolling between anchors -->
    <script src="{% static 'tedu_note/js/swiper.min.js' %}"></script> <!-- Swiper for image and text sliders -->
    <script src="{% static 'tedu_note/js/jquery.magnific-popup.js' %}"></script> <!-- Magnific Popup for lightboxes -->
    <script src="{% static 'tedu_note/js/validator.min.js' %}"></script>
    <!-- Validator.js - Bootstrap plugin that validates forms -->
    <script src="{% static 'tedu_note/js/scripts.js' %}"></script> <!-- Custom scripts -->
</body>

</html>